{{#swiper-container loop=true autoplay=true}}
  {{#swiper-slide class="myslide myslide-1"}}
    <div class="layout-row flex">
      <div class="flex">
        <div class="gradient gradientOne"></div>
      </div>
      <div class="flex-70">
        <h1>Преимущества натяжных потолков</h1>
        Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
        <div class="title-button">
          <h1>{{#paper-button}}Button with action{{/paper-button}}</h1>
        </div>
      </div>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="myslide myslide-2"}}
    <div class="layout-row flex">
      <div class="flex-40">
        <div class="gradient gradientTwo"></div>
      </div>
      <div class="flex-60">
        <h1>Преимущества натяжных потолков неоспоримы</h1>
        Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
      </div>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="myslide myslide-3"}}
    <div class="layout-row flex">
      <div class="flex-40">
        <div class="gradient gradientOne"></div>
      </div>
      <div class="flex-60">
        <h1>Преимущества натяжных потолков неоспоримы</h1>
        Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
      </div>
    </div>
  {{/swiper-slide}}
  {{#swiper-slide class="myslide myslide-4"}}
    <div class="layout-row flex">
      <div class="flex-40">
        <div class="gradient gradientOne"></div>
      </div>
      <div class="flex-60">
        <h1>Преимущества натяжных потолков – неоспоримы</h1>
        Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
      </div>
    </div>
  {{/swiper-slide}}
{{/swiper-container}}
{{yield}}
