$primary: "pink";
@import 'ember-paper';
// .md-toolbar-tools{
//   background-color: color("pink", "700");
// }#f9f1f4
body{
  color: paper-color("grey",'600');
  background-color: paper-color("red",'50');
}
.one,.two{
  height-min: 500px;
  padding-bottom: 20px;
}
.one{
  background-color: paper-color("pink");
  color: paper-color("grey", '100');
}
.shadow {
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
