<div class="one">
  {{#slide-content}}{{/slide-content}}
</div>
<div class="two">
  <div class="layout-row">
    <div class="flex"></div>
    <div class="flex-85 paddingColumn">
      <h2>Что такое натяжные потолки</h2>
      <span class="justifyColumn">
        Это особая эстетика, сочетающая в себе уникальный внешний вид, удобство установки, легкость в обслуживании и долговечность эксплуатации.
        <p>
          Вы хотите видеть звездное небо, или предпочитаете сдержанную классику пастельных цветов, приглушенный свет, отражающийся от потолка, или яркое дневное освещение - мы удовлетворим пожелания любого клиента с помощью наших натяжных потолков!
        </p>
      </span>
      <h3>Диапазон применения натяжных потолков</h3>
      <span class="justifyColumn">
        <p>
          Гостиная, спальня или ванная комната, ресторан или бассейн, концертный зал или галерея современного искусства – ведущие дизайнеры мира давно убедились в универсальности и многоликости натяжных потолков от ведущих производителей.
        </p>
      </span>
      <h3>Преимущества натяжных потолков</h3>
      <span class="justifyColumn">
        <p>
          Они не деформируются при усадке новых домов, скрывают неровности старых потолков, влагостойкий, они абсолютно не бояться затопления, требуют минимального ухода и пожаробезопасны. На них не конденсируется влага и не осаждается пыль. Они экологически чистые и соответствуют высоким европейским стандартам.
        </p>
      </span>
      <h3>Мы используем</h3>
      <span class="justifyColumn">
        <p>
          Комплектующие только известных и проверенных временем поставщиков. Это дает нам возможность гарантировать срок эксплуатации наших натяжных потолков не менее 10 лет. Стабильность, безупречный сервис и профессионализм команды - вот основные критерии, благодаря которым наши клиенты выбирают натяжные потолки <strong>Soffit</strong>.
        </p>
      </span>
      <h3>Мы предлагаем</h3>
      <span class="justifyColumn">
        <p>
          Полную линию продукции, как для профессионалов дизайна (архитекторов, декораторов, дизайнеров внутреннего интерьеру), так и простых пользователей.
        </p>
      </span>
      <h3>Мы уважаем наших клиентов и партнеров</h3>
      <span class="justifyColumn">
        <p>
          поэтому постоянно совершенствуем качество, расширяем ассортимент натяжных потолков. Вы останетесь довольны сотрудничеством с компанией  <strong>Soffit</strong>, и надеемся, вернетесь к нам еще не раз для воплощения в жизнь новой идеи.
        </p>
      </span>
    </div>
    <div class="flex"></div>
  </div>
</div>
<div class="one">
  <div class="layout-row layout-xs-column">
    <div class="flex-5"></div>
    <div class="flex-90 paddingColumn">
      <h2>Глянцевая фактура плёнки</h2>
      <div class="layout-row layout-xs-column">
        <div class="flax centerColumn">
          <img src="/assets/images/lak2.jpg" alt="">
        </div>
        <div class="layout-padding"></div>
        <div class="flax-80">
          <h3>Глянцевые или лаковые натяжные потолки</h3>
          <span class="justifyColumn">
            Сделаны из ПВХ пленки, которая представлена богатой гаммой оттенков от снежно-белого до чисто-черного. Глянцевые натяжные потолки имеют зеркальный эффект, который в темном цвете сильнее выражен, а в потолках светлых оттенков отражение меньше.
            <p>
              Цвет потолка нужно выбирать для конкретного помещения, нужно учитывать, что чем большую площадь вы хотите затянуть натяжным потолком, тем светлее нужно выбирать оттенок.
            </p>
            <p>
              Выбирая глянцевый потолок вы можете себе позволить темные цвета потолка. Отражения на потолке будут создавать эффект перелива оттенков. Темный глянцевый натяжной потолок не будет цельным куском черного цвета, а будет похож на темное тонированное стекло с отражениями. В случае с матовым покрытием темный цвет на потолке будет тяжеловат для восприятия.
            </p>
          </span>
        </div>
        <div class="layout-padding"></div>
        <div class="flax"></div>
      </div>
    </div>
    <div class="flex-5"></div>
  </div>
  <div class="title-button">
    {{#paper-button}}Посмотреть примеры{{/paper-button}}
    {{#paper-button}}Просчитать потолок{{/paper-button}}
  </div>
</div>
<div class="two">
  <div class="layout-row">
    <div class="flex"></div>
    <div class="flex-85 paddingColumn">
      <h3>Плюсы глянцевых натяжных потолков</h3>
      <span class="justifyColumn">
        Благодаря отражательной способности глянцевой потолок будет визуально делать помещение выше, а значит просторнее.
        <p>
          В некоторой степени зеркальная поверхность натяжного потолка отражает свет, что увеличивает освещенность в помещении при том же количестве светильников, поэтому комната кажется праздничнее и наряднее.
        </p>
        <p>
          Глянцевые фактуры - признак современного стиля.
        </p>
      </span>
      <h3>Минусы глянцевого натяжного потолка</h3>
      <span class="justifyColumn">
        <p>
          Личное негативное отношение к глянцевым поверхностям.
        </p>
        <p>
          Не стоит выбирать такой потолок, если он не вписывается в помещение по стилистике. Тогда берите матовый!
        </p>
        <p>
          Есть мнение, что с глянцевым натяжным потолком плохо сочетается скрытая подсветка на потолке, существует возможность отражения всего скрытого в поверхности потолка. Уже давно найдено решение для этой ситуации - скрытую подсветку делают не под натяжным потолком, а ЗА самой пленкой. В таком случае вам нет необходимости переплачивать за дополнительный монтаж полочки из гипсокартона, на которую раньше укладывалась светодиодная лента. В этой технологии скрытой подсветки - одни плюсы: дешевле, быстрее, эффектнее и современнее результат. Смотрите на фото:
        </p>
      </span>
    </div>
    <div class="flex"></div>
  </div>
</div>
<div class="one">
  <div class="layout-row layout-xs-column">
    <div class="flex-5"></div>
    <div class="flex-90 paddingColumn">
      <h2>Сатиновая фактура плёнки</h2>
      <div class="layout-row layout-xs-column">
        <div class="flax centerColumn">
          <img src="/assets/images/satin.jpg" alt="">
        </div>
        <div class="layout-padding"></div>
        <div class="flax-80">
          <h3>Глянцевые или лаковые натяжные потолки</h3>
          <span class="justifyColumn">
            Сделаны из ПВХ пленки, которая представлена богатой гаммой оттенков от снежно-белого до чисто-черного. Глянцевые натяжные потолки имеют зеркальный эффект, который в темном цвете сильнее выражен, а в потолках светлых оттенков отражение меньше.
            <p>
              Цвет потолка нужно выбирать для конкретного помещения, нужно учитывать, что чем большую площадь вы хотите затянуть натяжным потолком, тем светлее нужно выбирать оттенок.
            </p>
            <p>
              Выбирая глянцевый потолок вы можете себе позволить темные цвета потолка. Отражения на потолке будут создавать эффект перелива оттенков. Темный глянцевый натяжной потолок не будет цельным куском черного цвета, а будет похож на темное тонированное стекло с отражениями. В случае с матовым покрытием темный цвет на потолке будет тяжеловат для восприятия.
            </p>
          </span>
        </div>
        <div class="layout-padding"></div>
        <div class="flax"></div>
      </div>
    </div>
    <div class="flex-5"></div>
  </div>
  <div class="title-button">
    {{#paper-button}}Посмотреть примеры{{/paper-button}}
    {{#paper-button}}Просчитать потолок{{/paper-button}}
  </div>
</div>
<div class="two">
  <div class="layout-row">
    <div class="flex"></div>
    <div class="flex-85 paddingColumn">
      <h3>Плюсы глянцевых натяжных потолков</h3>
      <span class="justifyColumn">
        Благодаря отражательной способности глянцевой потолок будет визуально делать помещение выше, а значит просторнее.
        <p>
          В некоторой степени зеркальная поверхность натяжного потолка отражает свет, что увеличивает освещенность в помещении при том же количестве светильников, поэтому комната кажется праздничнее и наряднее.
        </p>
        <p>
          Глянцевые фактуры - признак современного стиля.
        </p>
      </span>
      <h3>Минусы глянцевого натяжного потолка</h3>
      <span class="justifyColumn">
        <p>
          Личное негативное отношение к глянцевым поверхностям.
        </p>
        <p>
          Не стоит выбирать такой потолок, если он не вписывается в помещение по стилистике. Тогда берите матовый!
        </p>
        <p>
          Есть мнение, что с глянцевым натяжным потолком плохо сочетается скрытая подсветка на потолке, существует возможность отражения всего скрытого в поверхности потолка. Уже давно найдено решение для этой ситуации - скрытую подсветку делают не под натяжным потолком, а ЗА самой пленкой. В таком случае вам нет необходимости переплачивать за дополнительный монтаж полочки из гипсокартона, на которую раньше укладывалась светодиодная лента. В этой технологии скрытой подсветки - одни плюсы: дешевле, быстрее, эффектнее и современнее результат. Смотрите на фото:
        </p>
      </span>
    </div>
    <div class="flex"></div>
  </div>
</div>
<div class="one">
  <div class="layout-row layout-xs-column">
    <div class="flex-5"></div>
    <div class="flex-90 paddingColumn">
      <h2>Матовая фактура плёнки</h2>
      <div class="layout-row layout-xs-column">
        <div class="flax centerColumn">
          <img src="/assets/images/mat.jpg" alt="">
        </div>
        <div class="layout-padding"></div>
        <div class="flax-80">
          <h3>Глянцевые или лаковые натяжные потолки</h3>
          <span class="justifyColumn">
            Сделаны из ПВХ пленки, которая представлена богатой гаммой оттенков от снежно-белого до чисто-черного. Глянцевые натяжные потолки имеют зеркальный эффект, который в темном цвете сильнее выражен, а в потолках светлых оттенков отражение меньше.
            <p>
              Цвет потолка нужно выбирать для конкретного помещения, нужно учитывать, что чем большую площадь вы хотите затянуть натяжным потолком, тем светлее нужно выбирать оттенок.
            </p>
            <p>
              Выбирая глянцевый потолок вы можете себе позволить темные цвета потолка. Отражения на потолке будут создавать эффект перелива оттенков. Темный глянцевый натяжной потолок не будет цельным куском черного цвета, а будет похож на темное тонированное стекло с отражениями. В случае с матовым покрытием темный цвет на потолке будет тяжеловат для восприятия.
            </p>
          </span>
        </div>
        <div class="layout-padding"></div>
        <div class="flax"></div>
      </div>
    </div>
    <div class="flex-5"></div>
  </div>
  <div class="title-button">
    {{#paper-button href="/gallery"}}Посмотреть примеры{{/paper-button}}
    {{#paper-button}}Просчитать потолок{{/paper-button}}
  </div>
</div>
<div class="two">
  <div class="layout-row">
    <div class="flex"></div>
    <div class="flex-85 paddingColumn">
      <h3>Плюсы глянцевых натяжных потолков</h3>
      <span class="justifyColumn">
        Благодаря отражательной способности глянцевой потолок будет визуально делать помещение выше, а значит просторнее.
        <p>
          В некоторой степени зеркальная поверхность натяжного потолка отражает свет, что увеличивает освещенность в помещении при том же количестве светильников, поэтому комната кажется праздничнее и наряднее.
        </p>
        <p>
          Глянцевые фактуры - признак современного стиля.
        </p>
      </span>
      <h3>Минусы глянцевого натяжного потолка</h3>
      <span class="justifyColumn">
        <p>
          Личное негативное отношение к глянцевым поверхностям.
        </p>
        <p>
          Не стоит выбирать такой потолок, если он не вписывается в помещение по стилистике. Тогда берите матовый!
        </p>
        <p>
          Есть мнение, что с глянцевым натяжным потолком плохо сочетается скрытая подсветка на потолке, существует возможность отражения всего скрытого в поверхности потолка. Уже давно найдено решение для этой ситуации - скрытую подсветку делают не под натяжным потолком, а ЗА самой пленкой. В таком случае вам нет необходимости переплачивать за дополнительный монтаж полочки из гипсокартона, на которую раньше укладывалась светодиодная лента. В этой технологии скрытой подсветки - одни плюсы: дешевле, быстрее, эффектнее и современнее результат. Смотрите на фото:
        </p>
      </span>
    </div>
    <div class="flex"></div>
  </div>
</div>
<div class="one">
  <div class="layout-row layout-xs-column">
    <div class="flex-5"></div>
    <div class="flex-90 paddingColumn">
      <h2>Кто займётся установкой Вашего потока?</h2>
      <p>
        <div class="layout-row layout-xs-column">
          <div class="flax centerColumn">
            <img class="myImage" src="/assets/images/myimg.jpg" alt="">
          </div>
          <div class="layout-padding"></div>
          <div class="flax-80 justifyColumn">
            <h3>Сердюк Николай Валериевич</h3>
            Здравствуйте я рад приветствовать Вас на сайте... Комплектующие только известных и проверенных временем поставщиков. Это дает нам возможность гарантировать срок эксплуатации наших натяжных потолков не менее 10 лет. Стабильность, безупречный сервис и профессионализм команды - вот основные критерии, благодаря которым наши клиенты выбирают натяжные потолки Soffit.
          </div>
          <div class="layout-padding"></div>
          <div class="flax">

          </div>
        </div>
      </p>
      <p>
        <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
        <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
        <h3>{{paper-icon "call"}} Kyivstar: +380 (098) 895-64-98</h3>
      </p>
    </div>
    <div class="flex-5"></div>
  </div>
</div>
